# Byte-compiled / optimized files
__pycache__/

# VS Code
.vscode/

# Pycache and misc
*.pyc

# General files
*.tex
*.md
*.pdf

.DS_Store

TEST.py
_TEST.py

NOTES.md
_NOTES.md

# Include
!README.md
!task_sheet.tex

# Log files
logs

*.egg-info/