# Byte-compiled / optimized files
__pycache__/

# VS Code
.vscode/

# Pycache and misc
*.pyc

# General files
*.md
*.pdf

.DS_Store

TEST.py
_TEST.py

NOTES.md
_NOTES.md

!README.md

# Log files
logs

*.egg-info/